<div id="artists-layout" style="display:none;">
	<div class="header">
		<div class="R">
			<div class="button expandable L space">
				<span class="icon share"><!----></span>Share playlist
				<ul>
					<li class="first"><span class="icon fb"><!----></span>on Facebook</li>
					<li><span class="icon gp"><!----></span>on Google+</li>
					<li class="last"><span class="icon tw"><!----></span>on Twitter</li>
				</ul>
			</div>
			<div class="button R"><span class="icon delete"><!----></span>Delete playlist</div>
		</div>
		<div class="L">
			<div class="title"><span class="text">Artists</span></div>
			<div class="sub-title">284 artists</div>
		</div>
		<div class="clear"><!----></div>
	</div>
	<div id="sort">
		<span class="text">Sort by:</span>
		<ul>
			<li class="selected">A-Z</li>
			<li>Popularity</li>
			<li>Recent</li>
		</ul>
	</div>
	<div id="artists-scroll">
		<div id="artists">
		<div id="artists-blocks">
			<ul>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
				<li>
					<div class="pic">
						<img src="images/temp03.jpg" alt="" />
					</div>
					<div class="artist-name">Avril Lavigne</div>
					<div class="songs">27 songs</div>
				</li>
			</ul>
		</div>
		<div class="clear"><!----></div>
	</div>
	</div>
</div>
<div id="playlist-layout">
	<div class="header">
		<div class="R">
			<div class="button expandable L space">
				<span class="icon share"><!----></span>Share playlist
				<ul>
					<li class="first"><span class="icon fb"><!----></span>on Facebook</li>
					<li><span class="icon gp"><!----></span>on Google+</li>
					<li class="last"><span class="icon tw"><!----></span>on Twitter</li>
				</ul>
			</div>
			<div class="button R"><span class="icon delete"><!----></span>Delete playlist</div>
		</div>
		<div class="L">
			<div class="title"><span class="text">Avril Lavigne</span><span class="edit-button popup-button" id="edit-playlist-name"><!----></span></div>
			<div class="sub-title">33,154 songs</div>
		</div>
		<div class="clear"><!----></div>
	</div>
	<div class="table">
		<table class="fixedHeader" id="playlist">
			<thead>
				<tr>
					<th class="checkbox-col"><span class="checkbox"><!----></span></th>
					<th class="icon-col">&nbsp;&nbsp;&nbsp;&nbsp;</th>
					<th class="sortable selected"><div class="wrapper">Song name<span class="arrow"><!----></span></div></th>
					<th class="sortable"><div class="wrapper">Artist<span class="arrow"><!----></span></div></th>
					<th class="sortable"><div class="wrapper">Album<span class="arrow"><!----></span></div></th>
					<th class="sortable"><div class="wrapper">Duration<span class="arrow"><!----></span></div></th>
					<th class="sortable"><div class="wrapper">Youtube plays<span class="arrow"><!----></span></div></th>
					<th class="sortable"><div class="wrapper">Your plays<span class="arrow"><!----></span></div></th>
					<th class="sortable"><div class="wrapper">Date added<span class="arrow"><!----></span></div></th>
					<th class="actions-col"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="checkbox-col"><span class="checkbox"><!----></span></td>
					<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
					<td><span class="wrapper">Smile</span></td>
					<td class="editable"><span class="wrapper"><span class="text">Avril Lavigne<span class="edit-button"></span></span></span></td>
					<td><span class="wrapper">Girlfriend</span></td>
					<td><span class="wrapper">04:16</span></td>
					<td><span class="wrapper">183,222,479</span></td>
					<td><span class="wrapper">15</span></td>
					<td><span class="wrapper">10/3/2012</span></td>
					<td class="actions-col"><span class="icon actions"><!----></span></td>
				</tr>
				<tr>
					<td class="checkbox-col"><span class="checkbox"><!----></span></td>
					<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
					<td><span class="wrapper">Smile</span></td>
					<td><span class="wrapper">Avril Lavigne</span></td>
					<td><span class="wrapper">Girlfriend</span></td>
					<td><span class="wrapper">04:16</span></td>
					<td><span class="wrapper">183,222,479</span></td>
					<td><span class="wrapper">15</span></td>
					<td><span class="wrapper">10/3/2012</span></td>
					<td class="actions-col"><span class="icon actions"><!----></span></td>
				</tr>
				<tr>
					<td class="checkbox-col"><span class="checkbox"><!----></span></td>
					<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
					<td><span class="wrapper">Smile</span></td>
					<td><span class="wrapper">Avril Lavigne</span></td>
					<td><span class="wrapper">Girlfriend</span></td>
					<td><span class="wrapper">04:16</span></td>
					<td><span class="wrapper">183,222,479</span></td>
					<td><span class="wrapper">15</span></td>
					<td><span class="wrapper">10/3/2012</span></td>
					<td class="actions-col"><span class="icon actions"><!----></span></td>
				</tr>
				<tr>
					<td class="checkbox-col"><span class="checkbox"><!----></span></td>
					<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
					<td><span class="wrapper">Smile</span></td>
					<td><span class="wrapper">Avril Lavigne</span></td>
					<td><span class="wrapper">Girlfriend</span></td>
					<td><span class="wrapper">04:16</span></td>
					<td><span class="wrapper">183,222,479</span></td>
					<td><span class="wrapper">15</span></td>
					<td><span class="wrapper">10/3/2012</span></td>
					<td class="actions-col"><span class="icon actions"><!----></span></td>
				</tr>
				<tr>
					<td class="checkbox-col"><span class="checkbox"><!----></span></td>
					<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
					<td><span class="wrapper">Smile</span></td>
					<td><span class="wrapper">Avril Lavigne</span></td>
					<td><span class="wrapper">Girlfriend</span></td>
					<td><span class="wrapper">04:16</span></td>
					<td><span class="wrapper">183,222,479</span></td>
					<td><span class="wrapper">15</span></td>
					<td><span class="wrapper">10/3/2012</span></td>
					<td class="actions-col"><span class="icon actions"><!----></span></td>
				</tr>
				<tr>
					<td class="checkbox-col"><span class="checkbox"><!----></span></td>
					<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
					<td><span class="wrapper">Smile</span></td>
					<td><span class="wrapper">Avril Lavigne</span></td>
					<td><span class="wrapper">Girlfriend</span></td>
					<td><span class="wrapper">04:16</span></td>
					<td><span class="wrapper">183,222,479</span></td>
					<td><span class="wrapper">15</span></td>
					<td><span class="wrapper">10/3/2012</span></td>
					<td class="actions-col">
						<div class="icon actions">
							<div class="dd right">
								<ul>
									<li class="first">Add to queue</li>
									<li>Share song</li>
									<li>Open in browser</li>
									<li>Download song</li>
									<li class="sub">
										Copy to playlist
										<div class="dd right">
											<ul>
												<li class="first">Avril Lavigne</li>
												<li class="last">Moti's awful music</li>
											</ul>
										</div>
									</li>
									<li class="sub sub-last">
										Move to playlist
										<div class="dd right">
											<ul>
												<li class="first">Avril Lavigne</li>
												<li class="last">Moti's awful music</li>
											</ul>
										</div>
									</li>
									<li class="last">Delete song</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div id="results-layout" style="display:none;">
	<div class="did-u-mean">Did you mean <a href="">Avril Lavigne</a>?<span class="x"><!----></span></div>
	<div class="header">
		<div class="R">
			<div class="button L space">
				<span class="icon share"><!----></span>Share playlist
				<ul>
					<li class="first"><span class="icon fb"><!----></span>on Facebook</li>
					<li><span class="icon gp"><!----></span>on Google+</li>
					<li class="last"><span class="icon tw"><!----></span>on Twitter</li>
				</ul>
			</div>
			<div class="button R"><span class="icon delete"><!----></span>Delete playlist</div>
		</div>
		<div class="L">
			<div class="title"><span class="text">Results for: Avril Lavin</span><span class="edit-button"><!----></span></div>
			<div class="sub-title">from: YouTube</div>
		</div>
		<div class="clear"><!----></div>
	</div>
	<div class="block artists">
		<h2>Artists</h2>
		<ul>
			<li>
				<div class="pic">
					<img src="images/temp03.jpg" alt="" />
				</div>
				<div class="overflow">
					<div class="artist-name">Avril Lavigne</div>
					<div class="albums">4 Albums</div>
					<div class="songs">27 songs</div>
				</div>
			</li>
			<li>
				<div class="pic">
					<img src="images/temp03.jpg" alt="" />
				</div>
				<div class="overflow">
					<div class="artist-name">Avril Lavigne</div>
					<div class="albums">4 Albums</div>
					<div class="songs">27 songs</div>
				</div>
			</li>
			<li>
				<div class="pic">
					<img src="images/temp03.jpg" alt="" />
				</div>
				<div class="overflow">
					<div class="artist-name">Avril Lavigne</div>
					<div class="albums">4 Albums</div>
					<div class="songs">27 songs</div>
				</div>
			</li>
		</ul>
		<div class="clear"><!----></div>
	</div>
	<div class="block nb">
		<h2>Songs</h2>
		<div class="table">
		<table id="playlist">
			<thead>
				<tr>
					<th class="checkbox-col"><span class="checkbox"><!----></span></th>
					<th class="icon-col">&nbsp;&nbsp;&nbsp;&nbsp;</th>
					<th class="sortable selected"><div class="wrapper">Song name<span class="arrow"><!----></span></div></th>
					<th class="sortable"><div class="wrapper">Artist<span class="arrow"><!----></span></div></th>
					<th class="sortable"><div class="wrapper">Album<span class="arrow"><!----></span></div></th>
					<th class="sortable"><div class="wrapper">Duration<span class="arrow"><!----></span></div></th>
					<th class="sortable"><div class="wrapper">Youtube plays<span class="arrow"><!----></span></div></th>
					<th class="sortable"><div class="wrapper">Your plays<span class="arrow"><!----></span></div></th>
					<th class="sortable"><div class="wrapper">Date added<span class="arrow"><!----></span></div></th>
					<th class="actions-col"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="checkbox-col"><span class="checkbox"><!----></span></td>
					<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
					<td><span class="wrapper">Smile</span></td>
					<td><span class="wrapper">Avril Lavigne</span></td>
					<td><span class="wrapper">Girlfriend</span></td>
					<td><span class="wrapper">04:16</span></td>
					<td><span class="wrapper">183,222,479</span></td>
					<td><span class="wrapper">15</span></td>
					<td><span class="wrapper">10/3/2012</span></td>
					<td class="actions-col"><span class="icon actions"><!----></span></td>
				</tr>
				<tr>
					<td class="checkbox-col"><span class="checkbox"><!----></span></td>
					<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
					<td><span class="wrapper">Smile</span></td>
					<td><span class="wrapper">Avril Lavigne</span></td>
					<td><span class="wrapper">Girlfriend</span></td>
					<td><span class="wrapper">04:16</span></td>
					<td><span class="wrapper">183,222,479</span></td>
					<td><span class="wrapper">15</span></td>
					<td><span class="wrapper">10/3/2012</span></td>
					<td class="actions-col"><span class="icon actions"><!----></span></td>
				</tr>
				<tr>
					<td class="checkbox-col"><span class="checkbox"><!----></span></td>
					<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
					<td><span class="wrapper">Smile</span></td>
					<td><span class="wrapper">Avril Lavigne</span></td>
					<td><span class="wrapper">Girlfriend</span></td>
					<td><span class="wrapper">04:16</span></td>
					<td><span class="wrapper">183,222,479</span></td>
					<td><span class="wrapper">15</span></td>
					<td><span class="wrapper">10/3/2012</span></td>
					<td class="actions-col"><span class="icon actions"><!----></span></td>
				</tr>
				<tr>
					<td class="checkbox-col"><span class="checkbox"><!----></span></td>
					<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
					<td><span class="wrapper">Smile</span></td>
					<td><span class="wrapper">Avril Lavigne</span></td>
					<td><span class="wrapper">Girlfriend</span></td>
					<td><span class="wrapper">04:16</span></td>
					<td><span class="wrapper">183,222,479</span></td>
					<td><span class="wrapper">15</span></td>
					<td><span class="wrapper">10/3/2012</span></td>
					<td class="actions-col"><span class="icon actions"><!----></span></td>
				</tr>
				<tr>
					<td class="checkbox-col"><span class="checkbox"><!----></span></td>
					<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
					<td><span class="wrapper">Smile</span></td>
					<td><span class="wrapper">Avril Lavigne</span></td>
					<td><span class="wrapper">Girlfriend</span></td>
					<td><span class="wrapper">04:16</span></td>
					<td><span class="wrapper">183,222,479</span></td>
					<td><span class="wrapper">15</span></td>
					<td><span class="wrapper">10/3/2012</span></td>
					<td class="actions-col"><span class="icon actions"><!----></span></td>
				</tr>
				<tr>
					<td class="checkbox-col"><span class="checkbox"><!----></span></td>
					<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
					<td><span class="wrapper">Smile</span></td>
					<td><span class="wrapper">Avril Lavigne</span></td>
					<td><span class="wrapper">Girlfriend</span></td>
					<td><span class="wrapper">04:16</span></td>
					<td><span class="wrapper">183,222,479</span></td>
					<td><span class="wrapper">15</span></td>
					<td><span class="wrapper">10/3/2012</span></td>
					<td class="actions-col">
						<div class="icon actions">
							<div class="dd right">
								<ul>
									<li class="first">Add to queue</li>
									<li>Share song</li>
									<li>Open in browser</li>
									<li>Download song</li>
									<li class="sub">
										Copy to playlist
										<div class="dd right">
											<ul>
												<li class="first">Avril Lavigne</li>
												<li class="last">Moti's awful music</li>
											</ul>
										</div>
									</li>
									<li class="sub sub-last">
										Move to playlist
										<div class="dd right">
											<ul>
												<li class="first">Avril Lavigne</li>
												<li class="last">Moti's awful music</li>
											</ul>
										</div>
									</li>
									<li class="last">Delete song</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	<div class="block nb">
		<h2>Playlists</h2>
		<div class="table">
		<table id="playlist">
			<thead>
				<tr>
					<th class="icon-col">&nbsp;&nbsp;&nbsp;&nbsp;</th>
					<th class="sortable selected"><div class="wrapper">Playlist name<span class="arrow"><!----></span></div></th>
					<th class="sortable"><div class="wrapper">Tracks<span class="arrow"><!----></span></div></th>
					<th class="sortable"><div class="wrapper">Duration<span class="arrow"><!----></span></div></th>
					<th class="sortable"><div class="wrapper">Last modified<span class="arrow"><!----></span></div></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
					<td><span class="wrapper">Avril Lavigne</span></td>
					<td><span class="wrapper">42</span></td>
					<td><span class="wrapper">44:16</span></td>
					<td><span class="wrapper">10/3/2012</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</div>