<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
		<meta charset="utf-8" />
		<!-- Enable IE9 Standards mode -->
		<meta http-equiv="X-UA-Compatible" content="IE=9" >
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/fonts/stylesheet.css" />
		<script type="text/javascript" src="scripts/jquery.js"></script>
		<script type="text/javascript" src="scripts/custom.js"></script>
		<script type="text/javascript" src="scripts/jquery-ui-1.9.0.custom.min.js"></script>
		<script type="text/javascript" src="scripts/jquery.tablednd.js"></script>
		<title>Playlist</title>
	</head>
	<body class="unselectable">
	
	<div id="wrapper">
		<div id="popup-wrapper">
			<div class="popup-dim"><!----></div>
		</div>
		<div id="header">
			<div class="left">
				<img src="images/logo.png" alt="" class="logo" />
				<ul>
					<li><span class="icon home"><!----></span></li>
					<li class="last"><span class="icon settings"><!----></span></li>
				</ul>
			</div>
			<div id="search">
				<div class="search-button"><!----></div>
				<div class="input">
					<input name="" type="text" value="Search for Music" class="focusedInput" />
				</div>
				<div class="select-target" data-selected="youtube">
					<div class="icons">
						<div class="icon youtube"><!----></div>
						<div class="icon library"><!----></div>
					</div>
					<span class="arrow"><!----></span>
				</div>
			</div>
			<div id="user">
				<div class="pic"><img src="images/temp02.jpg" alt="" /></div>
				<span class="username">Ezio Auditore</span>
			</div>
		</div>
		<div id="middle">
			<div id="side-panel">
				<div class="shadow"><!----></div>
				<ul>
					<li class="first">
						<div class="h-button">Your Library</div>
						<ul>
							<li>
								<div class="sub-button">
									<div class="icon songs"><!----></div>
									<div class="overflow">
										<div class="title">Songs</div>
										<div class="text">313,558 songs</div>
									</div>
								</div>
							</li>
							<li>
								<div class="sub-button">
									<div class="icon artists"><!----></div>
									<div class="overflow">
										<div class="title">Artists</div>
										<div class="text">284 artists</div>
									</div>
								</div>
							</li>
							<li class="last">
								<div class="sub-button">
									<div class="icon queue"><!----></div>
									<div class="overflow">
										<div class="title">Queue</div>
										<div class="text">0 songs</div>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li class="last">
						<div id="add-playlist"><!----></div>
						<div class="h-button">Playlists</div>
						<ul>
							<li class="new">
								<div id="new-playlist">
									<div class="input">
										<input name="" type="text" value="New playlist name" />
									</div>
									<div class="add-button">Add</div>
								</div>
							</li>
							<li>
								<div class="sub-button">
									<div class="icon playlist"><!----></div>
									<div class="overflow">
										<div class="title">Avril Lavigne</div>
										<div class="text">558 songs</div>
									</div>
								</div>
							</li>
							<li>
								<div class="sub-button">
									<div class="icon playlist"><!----></div>
									<div class="overflow">
										<div class="title">Moti’s awful music</div>
										<div class="text">79 artists</div>
									</div>
								</div>
							</li>
							<li class="last">
								<div class="sub-button">
									<div class="icon playlist"><!----></div>
									<div class="overflow">
										<div class="title">Israeli music</div>
										<div class="text">3 songs</div>
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div id="content">
				<div id="artists-layout" style="display:none;">
					<div class="header">
						<div class="R">
							<div class="button expandable L space">
								<span class="icon share"><!----></span>Share playlist
								<ul>
									<li class="first"><span class="icon fb"><!----></span>on Facebook</li>
									<li><span class="icon gp"><!----></span>on Google+</li>
									<li class="last"><span class="icon tw"><!----></span>on Twitter</li>
								</ul>
							</div>
							<div class="button R"><span class="icon delete"><!----></span>Delete playlist</div>
						</div>
						<div class="L">
							<div class="title"><span class="text">Artists</span></div>
							<div class="sub-title">284 artists</div>
						</div>
						<div class="clear"><!----></div>
					</div>
					<div id="sort">
						<span class="text">Sort by:</span>
						<ul>
							<li class="selected">A-Z</li>
							<li>Popularity</li>
							<li>Recent</li>
						</ul>
					</div>
					<div id="artists-scroll">
						<div id="artists">
						<div id="artists-blocks">
							<ul>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
								<li>
									<div class="pic">
										<img src="images/temp03.jpg" alt="" />
									</div>
									<div class="artist-name">Avril Lavigne</div>
									<div class="songs">27 songs</div>
								</li>
							</ul>
						</div>
						<div class="clear"><!----></div>
					</div>
					</div>
				</div>
				<div id="playlist-layout">
					<div class="header">
						<div class="R">
							<div class="button expandable L space">
								<span class="icon share"><!----></span>Share playlist
								<ul>
									<li class="first"><span class="icon fb"><!----></span>on Facebook</li>
									<li><span class="icon gp"><!----></span>on Google+</li>
									<li class="last"><span class="icon tw"><!----></span>on Twitter</li>
								</ul>
							</div>
							<div class="button R"><span class="icon delete"><!----></span>Delete playlist</div>
						</div>
						<div class="L">
							<div class="title"><span class="text">Avril Lavigne</span><span class="edit-button popup-button" id="edit-playlist-name"><!----></span></div>
							<div class="sub-title">33,154 songs</div>
						</div>
						<div class="clear"><!----></div>
					</div>
					<div class="table">
						<table class="fixedHeader" id="playlist">
							<thead>
								<tr>
									<th class="checkbox-col"><span class="checkbox"><!----></span></th>
									<th class="icon-col">&nbsp;&nbsp;&nbsp;&nbsp;</th>
									<th class="sortable selected"><div class="wrapper">Song name<span class="arrow"><!----></span></div></th>
									<th class="sortable"><div class="wrapper">Artist<span class="arrow"><!----></span></div></th>
									<th class="sortable"><div class="wrapper">Album<span class="arrow"><!----></span></div></th>
									<th class="sortable"><div class="wrapper">Duration<span class="arrow"><!----></span></div></th>
									<th class="sortable"><div class="wrapper">Youtube plays<span class="arrow"><!----></span></div></th>
									<th class="sortable"><div class="wrapper">Your plays<span class="arrow"><!----></span></div></th>
									<th class="sortable"><div class="wrapper">Date added<span class="arrow"><!----></span></div></th>
									<th class="actions-col"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="checkbox-col"><span class="checkbox"><!----></span></td>
									<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
									<td><span class="wrapper">Smile</span></td>
									<td class="editable"><span class="wrapper"><span class="text">Avril Lavigne<span class="edit-button"></span></span></span></td>
									<td><span class="wrapper">Girlfriend</span></td>
									<td><span class="wrapper">04:16</span></td>
									<td><span class="wrapper">183,222,479</span></td>
									<td><span class="wrapper">15</span></td>
									<td><span class="wrapper">10/3/2012</span></td>
									<td class="actions-col"><span class="icon actions"><!----></span></td>
								</tr>
								<tr>
									<td class="checkbox-col"><span class="checkbox"><!----></span></td>
									<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
									<td><span class="wrapper">Smile</span></td>
									<td><span class="wrapper">Avril Lavigne</span></td>
									<td><span class="wrapper">Girlfriend</span></td>
									<td><span class="wrapper">04:16</span></td>
									<td><span class="wrapper">183,222,479</span></td>
									<td><span class="wrapper">15</span></td>
									<td><span class="wrapper">10/3/2012</span></td>
									<td class="actions-col"><span class="icon actions"><!----></span></td>
								</tr>
								<tr>
									<td class="checkbox-col"><span class="checkbox"><!----></span></td>
									<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
									<td><span class="wrapper">Smile</span></td>
									<td><span class="wrapper">Avril Lavigne</span></td>
									<td><span class="wrapper">Girlfriend</span></td>
									<td><span class="wrapper">04:16</span></td>
									<td><span class="wrapper">183,222,479</span></td>
									<td><span class="wrapper">15</span></td>
									<td><span class="wrapper">10/3/2012</span></td>
									<td class="actions-col"><span class="icon actions"><!----></span></td>
								</tr>
								<tr>
									<td class="checkbox-col"><span class="checkbox"><!----></span></td>
									<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
									<td><span class="wrapper">Smile</span></td>
									<td><span class="wrapper">Avril Lavigne</span></td>
									<td><span class="wrapper">Girlfriend</span></td>
									<td><span class="wrapper">04:16</span></td>
									<td><span class="wrapper">183,222,479</span></td>
									<td><span class="wrapper">15</span></td>
									<td><span class="wrapper">10/3/2012</span></td>
									<td class="actions-col"><span class="icon actions"><!----></span></td>
								</tr>
								<tr>
									<td class="checkbox-col"><span class="checkbox"><!----></span></td>
									<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
									<td><span class="wrapper">Smile</span></td>
									<td><span class="wrapper">Avril Lavigne</span></td>
									<td><span class="wrapper">Girlfriend</span></td>
									<td><span class="wrapper">04:16</span></td>
									<td><span class="wrapper">183,222,479</span></td>
									<td><span class="wrapper">15</span></td>
									<td><span class="wrapper">10/3/2012</span></td>
									<td class="actions-col"><span class="icon actions"><!----></span></td>
								</tr>
								<tr>
									<td class="checkbox-col"><span class="checkbox"><!----></span></td>
									<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
									<td><span class="wrapper">Smile</span></td>
									<td><span class="wrapper">Avril Lavigne</span></td>
									<td><span class="wrapper">Girlfriend</span></td>
									<td><span class="wrapper">04:16</span></td>
									<td><span class="wrapper">183,222,479</span></td>
									<td><span class="wrapper">15</span></td>
									<td><span class="wrapper">10/3/2012</span></td>
									<td class="actions-col">
										<div class="icon actions">
											<div class="dd right">
												<ul>
													<li class="first">Add to queue</li>
													<li>Share song</li>
													<li>Open in browser</li>
													<li>Download song</li>
													<li class="sub">
														Copy to playlist
														<div class="dd right">
															<ul>
																<li class="first">Avril Lavigne</li>
																<li class="last">Moti's awful music</li>
															</ul>
														</div>
													</li>
													<li class="sub sub-last">
														Move to playlist
														<div class="dd right">
															<ul>
																<li class="first">Avril Lavigne</li>
																<li class="last">Moti's awful music</li>
															</ul>
														</div>
													</li>
													<li class="last">Delete song</li>
												</ul>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div id="results-layout" style="display:none;">
					<div class="did-u-mean">Did you mean <a href="">Avril Lavigne</a>?<span class="x"><!----></span></div>
					<div class="header">
						<div class="R">
							<div class="button L space">
								<span class="icon share"><!----></span>Share playlist
								<ul>
									<li class="first"><span class="icon fb"><!----></span>on Facebook</li>
									<li><span class="icon gp"><!----></span>on Google+</li>
									<li class="last"><span class="icon tw"><!----></span>on Twitter</li>
								</ul>
							</div>
							<div class="button R"><span class="icon delete"><!----></span>Delete playlist</div>
						</div>
						<div class="L">
							<div class="title"><span class="text">Results for: Avril Lavin</span><span class="edit-button"><!----></span></div>
							<div class="sub-title">from: YouTube</div>
						</div>
						<div class="clear"><!----></div>
					</div>
					<div class="block artists">
						<h2>Artists</h2>
						<ul>
							<li>
								<div class="pic">
									<img src="images/temp03.jpg" alt="" />
								</div>
								<div class="overflow">
									<div class="artist-name">Avril Lavigne</div>
									<div class="albums">4 Albums</div>
									<div class="songs">27 songs</div>
								</div>
							</li>
							<li>
								<div class="pic">
									<img src="images/temp03.jpg" alt="" />
								</div>
								<div class="overflow">
									<div class="artist-name">Avril Lavigne</div>
									<div class="albums">4 Albums</div>
									<div class="songs">27 songs</div>
								</div>
							</li>
							<li>
								<div class="pic">
									<img src="images/temp03.jpg" alt="" />
								</div>
								<div class="overflow">
									<div class="artist-name">Avril Lavigne</div>
									<div class="albums">4 Albums</div>
									<div class="songs">27 songs</div>
								</div>
							</li>
						</ul>
						<div class="clear"><!----></div>
					</div>
					<div class="block nb">
						<h2>Songs</h2>
						<div class="table">
						<table id="playlist">
							<thead>
								<tr>
									<th class="checkbox-col"><span class="checkbox"><!----></span></th>
									<th class="icon-col">&nbsp;&nbsp;&nbsp;&nbsp;</th>
									<th class="sortable selected"><div class="wrapper">Song name<span class="arrow"><!----></span></div></th>
									<th class="sortable"><div class="wrapper">Artist<span class="arrow"><!----></span></div></th>
									<th class="sortable"><div class="wrapper">Album<span class="arrow"><!----></span></div></th>
									<th class="sortable"><div class="wrapper">Duration<span class="arrow"><!----></span></div></th>
									<th class="sortable"><div class="wrapper">Youtube plays<span class="arrow"><!----></span></div></th>
									<th class="sortable"><div class="wrapper">Your plays<span class="arrow"><!----></span></div></th>
									<th class="sortable"><div class="wrapper">Date added<span class="arrow"><!----></span></div></th>
									<th class="actions-col"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="checkbox-col"><span class="checkbox"><!----></span></td>
									<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
									<td><span class="wrapper">Smile</span></td>
									<td><span class="wrapper">Avril Lavigne</span></td>
									<td><span class="wrapper">Girlfriend</span></td>
									<td><span class="wrapper">04:16</span></td>
									<td><span class="wrapper">183,222,479</span></td>
									<td><span class="wrapper">15</span></td>
									<td><span class="wrapper">10/3/2012</span></td>
									<td class="actions-col"><span class="icon actions"><!----></span></td>
								</tr>
								<tr>
									<td class="checkbox-col"><span class="checkbox"><!----></span></td>
									<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
									<td><span class="wrapper">Smile</span></td>
									<td><span class="wrapper">Avril Lavigne</span></td>
									<td><span class="wrapper">Girlfriend</span></td>
									<td><span class="wrapper">04:16</span></td>
									<td><span class="wrapper">183,222,479</span></td>
									<td><span class="wrapper">15</span></td>
									<td><span class="wrapper">10/3/2012</span></td>
									<td class="actions-col"><span class="icon actions"><!----></span></td>
								</tr>
								<tr>
									<td class="checkbox-col"><span class="checkbox"><!----></span></td>
									<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
									<td><span class="wrapper">Smile</span></td>
									<td><span class="wrapper">Avril Lavigne</span></td>
									<td><span class="wrapper">Girlfriend</span></td>
									<td><span class="wrapper">04:16</span></td>
									<td><span class="wrapper">183,222,479</span></td>
									<td><span class="wrapper">15</span></td>
									<td><span class="wrapper">10/3/2012</span></td>
									<td class="actions-col"><span class="icon actions"><!----></span></td>
								</tr>
								<tr>
									<td class="checkbox-col"><span class="checkbox"><!----></span></td>
									<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
									<td><span class="wrapper">Smile</span></td>
									<td><span class="wrapper">Avril Lavigne</span></td>
									<td><span class="wrapper">Girlfriend</span></td>
									<td><span class="wrapper">04:16</span></td>
									<td><span class="wrapper">183,222,479</span></td>
									<td><span class="wrapper">15</span></td>
									<td><span class="wrapper">10/3/2012</span></td>
									<td class="actions-col"><span class="icon actions"><!----></span></td>
								</tr>
								<tr>
									<td class="checkbox-col"><span class="checkbox"><!----></span></td>
									<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
									<td><span class="wrapper">Smile</span></td>
									<td><span class="wrapper">Avril Lavigne</span></td>
									<td><span class="wrapper">Girlfriend</span></td>
									<td><span class="wrapper">04:16</span></td>
									<td><span class="wrapper">183,222,479</span></td>
									<td><span class="wrapper">15</span></td>
									<td><span class="wrapper">10/3/2012</span></td>
									<td class="actions-col"><span class="icon actions"><!----></span></td>
								</tr>
								<tr>
									<td class="checkbox-col"><span class="checkbox"><!----></span></td>
									<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
									<td><span class="wrapper">Smile</span></td>
									<td><span class="wrapper">Avril Lavigne</span></td>
									<td><span class="wrapper">Girlfriend</span></td>
									<td><span class="wrapper">04:16</span></td>
									<td><span class="wrapper">183,222,479</span></td>
									<td><span class="wrapper">15</span></td>
									<td><span class="wrapper">10/3/2012</span></td>
									<td class="actions-col">
										<div class="icon actions">
											<div class="dd right">
												<ul>
													<li class="first">Add to queue</li>
													<li>Share song</li>
													<li>Open in browser</li>
													<li>Download song</li>
													<li class="sub">
														Copy to playlist
														<div class="dd right">
															<ul>
																<li class="first">Avril Lavigne</li>
																<li class="last">Moti's awful music</li>
															</ul>
														</div>
													</li>
													<li class="sub sub-last">
														Move to playlist
														<div class="dd right">
															<ul>
																<li class="first">Avril Lavigne</li>
																<li class="last">Moti's awful music</li>
															</ul>
														</div>
													</li>
													<li class="last">Delete song</li>
												</ul>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					</div>
					<div class="block nb">
						<h2>Playlists</h2>
						<div class="table">
						<table id="playlist">
							<thead>
								<tr>
									<th class="icon-col">&nbsp;&nbsp;&nbsp;&nbsp;</th>
									<th class="sortable selected"><div class="wrapper">Playlist name<span class="arrow"><!----></span></div></th>
									<th class="sortable"><div class="wrapper">Tracks<span class="arrow"><!----></span></div></th>
									<th class="sortable"><div class="wrapper">Duration<span class="arrow"><!----></span></div></th>
									<th class="sortable"><div class="wrapper">Last modified<span class="arrow"><!----></span></div></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="icon-col"><span class="button play-button"><span><!----></span></span><span class="icon playing"><!----></span></td>
									<td><span class="wrapper">Avril Lavigne</span></td>
									<td><span class="wrapper">42</span></td>
									<td><span class="wrapper">44:16</span></td>
									<td><span class="wrapper">10/3/2012</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div id="player">
			<div class="section first">
				<div id="player-funcs">
					<div id="prev-song"><span><!----></span></div>
					<div id="play-pause"><span><!----></span></div>
					<div id="next-song"><span><!----></span></div>
				</div>
			</div>
			<div class="section last">
				<div id="volume">
					<span class="icon volume-low"><!----></span>
					<span class="icon volume-high"><!----></span>
					<div class="seek-bar">
						<div class="track">
							<div class="progress"><span class="circle"><span><!----></span></span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="section">
				<div id="now-playing">
					<div class="song-pic">
						<img src="images/temp01.jpg" alt="" />
					</div>
					<div class="overflow">
						<div class="song-title">Avril Lavigne - Smile</div>
						<div class="playing-source"><span class="icon playlist"><!----></span>Avril Lavigne</div>
					</div>
				</div>
				<div id="order-funcs">
					<div class="icon shuffle"><!----></div>
					<div class="icon repeat"><!----></div>
				</div>
				<div id="time"><span>01:46</span> / 04:16</div>
				<div class="seek-bar">
					<div class="track">
						<div class="progress"><span class="circle"><span><!----></span></span></div>
						<div class="buffer"><!----></div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	</body>
</html>